[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
firebase-admin = "*"
pyrebase4 = "*"
requests = "*"
typing-extensions = "*"
stripe = "*"
jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.8"
