[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
firebase-admin = "*"
pyrebase4 = "*"
requests = "*"
typing-extensions = "*"
stripe = "*"
jinja2 = "*"
pdfkit = "*"
resend = "*"
gunicorn = "*"
uvicorn = {extras = ["standard"], version = "*"}
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.8"
