<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenido a Loritos World</title>
  </head>
  <body>
    <h1>Felicidades tu cuenta se ha creado exitosamente</h1>
    <div>
      Tu cuenta se ha registrado exitosamente, recuerda que para poder ingresar
      a la plataforma tendras que confirmar tu cuenta, mediante el correo
      adicional que se te ha enviado.
    </div>
    <h3>Bievenido a Loritos World</h3>
  </body>
</html>
